/ch04/jsf-ch04-javascript/target/
/ch04/jsf-ch04-personal-data/target/
/ch04/jsf-ch04-CommandsLinks/target/
/ch04/jsf-ch04-SelectItems/target/
/ch04/jsf-ch04-messages/target/
/ch05/jsf-ch05-planets-facelets/target/
/ch06/jsf-ch06-Simple-DataTable/target/
/ch06/jsf-ch06-Components/target/
/ch06/jsf-ch06-3-EditingTables/target/
/ch06/jsf-ch06-4-DeletingTableRow/target/
/ch06/jsf-ch06-5-TableDataBase/target/
/ch06/jsf-ch06-6-SortingData/target/